* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    z-index: 55;
}

.nav-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    z-index: 6;
}

@media only screen and (max-width:1000px) {
    div.nav-last {
        display: none;
    }

    div.nav-mid {
        width: 80%;
    }
}

/* For seach items min width */


.nav-image {
    height: 98px;
    width: 10%;
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

.nav-mid {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-mid-four button {
    width: auto;
    display: flex;
    gap: 5px;
    background-color: black;
    justify-content: space-between;
    border: none;
    color: rgb(255, 255, 255);
}

.nav-mid-four button:hover {
    cursor: pointer;
    color: blue;
}

/* Displaying the select box using hover */
.nav-mid-four button:hover .text {
    display: contents;
}

.nav-mid-four button p {
    font-size: 13px;
    font-family: "Inter" sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.nav-mid-four button select {
    color: white;
    background: inherit;
    border: none;
    outline: none;
    width: 11px;
    margin-top: -3px;
}

.nav-mid-four button select {
    color: inherit;
}

.nav-mid-last button {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: black;
    color: white;
    border: white solid 1.5px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-mid-last button:hover {
    background: rgb(0, 0, 255);
    transition: 0.5s;
    border-color: blue;
    cursor: pointer;
}

.nav-image-2 {
    height: 20px;
    width: 20px;
}

.nav-image-2 img {
    height: 100%;
    width: 100%;
}

.nav-last {
    color: white;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.nav-last-first {
    display: flex;
    justify-content: center;
    font-size: small;
}

.nav-last-first img {
    margin-left: 6px;
}

.nav-last-first select {
    background: inherit;
    color: white;
    border: none;
    width: 10px;
}

.nav-last-second {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;

}

.nav-last-second img {
    margin-right: 5px;
}

.nav-last-second p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* section first below the navigation bar */

.section-first {
    height: auto;
    width: 100%;
    position: relative;
}

.video {
    min-width: 100%;
    height: fit-content;
    object-fit: contain;
    position: relative;
    top: -100px;
}

.video video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-height: 80vh;
    min-width: 100%;
}

.image {
    display: none;
}

.text {
    color: rgb(53, 53, 53);
    position: absolute;
    top: 110px;
    width: 90%;
    height: fit-content;
    background: rgb(255, 255, 255);
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid rgb(216, 213, 213) 1px;
    display: none;

}

.first-ul {
    width: 25%;
    height: 100%;
}

.select-paragraph {
    min-width: 100%;
    height: 100%;
    margin-top: 10px;
}

.list-items {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-items:hover {
    color: red;
}

.list-items:hover {
    background-color: #141077;
    color: rgb(191, 135, 135);
    border: solid white;
}

.select-paragraph .list-items select {
    transform: rotate(270deg);
    border: none;
    margin-top: 5px;
    background: inherit;
}

.second-ul {
    width: 39%;
    height: 100%;
    text-indent: 15px;
}

.second-ul h1 {
    font-weight: 400;
    margin-top: 10px;
    color: rgb(39, 39, 39);
    font-size: 20px;
}

.treking-divis {
    margin-top: 10px;
}

.treking-divis a,
.treking-divis-2 a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 14px;
    display: block;
    padding: 8px 0px;
}

.treking-divis a :hover {
    color: blue;
}

.third-ul {
    width: 33%;
    height: 100%;
}

.treking-divis-2 {
    margin-top: 40px;
}

.image-text {
    min-width: 100%;
}

.search-div {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.form-div {
    width: 80%;
}

.form-div form {
    display: flex;
}

.form-div img {
    background: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

input[name=search] {
    height: 48px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: none;
    text-indent: 20px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: lighter;
    color: red;
}

.the-experience {
    position: absolute;
    top: 30vh;
    color: white;
    text-align: center;
    font-size: 36px;
    text-shadow: 1px 1px black;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

/* .the-experience p {
    display: block;
    width: 100%;
} */


.discover {
    font-size: 75px;
    text-shadow: none;
    text-shadow: 1px 1px black;

}

.second-experience {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.below-search {
    text-align: start;
    width: 200px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-evenly;

}

.search-icon .fa {
    color: rgb(232, 11, 11);
}

/* Section 2 */
.section-2 {
    position: relative;
}

.bestseller .first-paragraph {
    text-align: center;
    font-size: 24px;
}

.bestseller p span {
    color: rgb(208, 22, 22);
    line-height: 34px;
}

.second-paragraph {
    text-align: center;
    color: rgb(63, 60, 60);
}

.event-box {
    height: 350px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.box-event1,
.box-event2,
.box-event3,
.box-event4 {
    width: 250px;
    border: solid 1px rgb(223, 220, 220);
    height: 100%;
    border-radius: 5px;
    cursor: pointer;

}

.photo-event {
    object-fit: contain;
    height: 60%;
    overflow: hidden;
}

.photo-event img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;


}

.photo-event:hover img {
    transform: scale(1.1);
    transition: 0.8s;
}

.image-txt {
    color: white;
    text-indent: 16px;
    font-size: larger;
    text-shadow: 1px 1px 1px rgb(12, 14, 12);
    margin-top: -30px;
}

.text-event {
    margin-left: 15px;

}

.head-text-event {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 5px;
}

.normal-text-event {
    line-height: 20px;
    font-size: 14px;
    color: rgb(62, 57, 57);
}

.why-ace {
    height: auto;
    background: rgb(249, 248, 248);
}

.why-ace-para {
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 500;
}

.why-ace-paraa {
    width: 70%;
    text-align: center;
    margin: auto;
    color: rgb(85, 83, 83);
    margin-bottom: 55px;
}

.lower-part-1,
.lower-part-2 {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.lower-part-2 {
    margin-top: 50px;
}

.class-1 {
    width: 30%;
    cursor: pointer;
}

div.class-1:hover {
    color: red;
    transition: 0.5s;
}

.class-1>img {
    margin-left: 43%;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 50px;
}

.ace-header {
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

.ace-para {
    width: 90%;
    margin: auto;
    text-align: center;
    color: rgb(73, 73, 73);
}

@media only screen and (min-width:830px) {}

@media only screen and (max-width: 830px) {

    div.nav-mid,
    div.nav-last {
        display: none;
    }

    nav {
        background: rgb(0, 0, 0);
    }

    div.menu {
        display: inline-block;
        color: white;
    }

    div.menu img {
        margin-left: 20px;
    }

    div.nav-top {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-left: 10px;
        margin-right: 90px;

    }

    /* section to image conversion */
    .section-first {
        height: auto;
        width: 100%;
    }

    div.video {
        display: none;
    }

    div.text {
        display: none;
    }

    div.image {
        display: contents;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid rgb(0, 53, 168);
    }

    .image img {
        object-fit: cover;
        width: 100%;
        top: -10%;
        height: calc(80vh - 82px);

    }

    /* for -box-event */
    div.event-box {
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
        row-gap: 5vh;
        column-gap: 13vw;
    }

    div.lower-part-1,
    div.lower-part-2 {
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
        row-gap: 55px;
    }

    div.class-1 {
        width: 300px;
    }

    .the-experience {
        gap: 5vw;
    }

}


@media only screen and (max-width: 580px) {
    div.event-box {
        display: grid;
        grid-template-columns: auto;
        height: auto;
        row-gap: 5vh;
    }

    div.class-1 {
        margin-bottom: 50px;
    }

    div.lower-part-1,
    div.lower-part-2 {
        display: grid;
        grid-template-columns: auto;
        height: auto;
        row-gap: 15px;
    }

    .second-experience {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: auto;
        column-gap: auto;
        width: 100%;
        height: fit-content;
        margin-top: 10vh;
    }

    .below-search {
        width: fit-content;
    }

    .the-experience {
        gap: 1vw;
    }

    .the-head {
        font-size: 7vw;
    }

    .discover {
        font-size: 12vw;
    }
}

.section-journy {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.journy-1 {
    width: auto;
    height: 420px;
    max-height: 420px;

}

.journy-1 h3 {
    color: white;
    margin-top: -100px;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;

}

.journy-2 {
    object-fit: cover;
    height: 400px;
    width: auto;
    overflow: hidden;
}

.journy-2 img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.journy-2 h3 {
    color: white;
    margin-top: -100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: -220px;
}

.journey-head {
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 0px 5vw;
}

.journy-heading {
    font-size: 2rem;
}

.journy-paragraph {
    width: 200px;
}

.journy-1-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 33vw;

}

.image-journy {
    width: 400px;
    height: 200px;
    object-fit: contain;
    overflow: hidden;
}

.image-journy img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.journy-2 img:hover,
.image-journy img:hover {
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;

}

@media only screen and (max-width:1111px) {
    .journey-head {
        display: none;
    }

    .section-journy {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 2.5vw;
        height: fit-content;
    }

    .section-journy h3 {
        display: none;
    }

    .journy-2 img {
        width: fit-content;
    }

    .journy-2 {
        height: 40vw;
        width: fit-content;
        width: auto;
    }

    .journy-1-image {
        display: flex;
        flex-direction: row;
        column-gap: 2.5vw;
        width: 60vw;
        object-fit: cover;
    }

    .image-journy img {
        object-fit: cover;
        width: 100%;
    }

    .image-journy {
        height: 40vw;
        width: auto;
    }
}

@media only screen and (min-width:1111px) {
    .the-experience {
        top: 15vw;
        font-size: 50px;
    }
}

@media only screen and (max-width:630px) {
    .section-journy {
        display: grid;
        grid-template-columns: auto;
        row-gap: 1.5vw;
    }

    .journy-1-image {
        display: grid;
        grid-template-rows: auto;
    }

    .journy-1-image {
        width: auto;
    }

    .image-journy {
        height: 200px;
        width: 100%;
    }

    .journy-2 {
        display: flex;
        justify-content: center;
        width: 267x;
        margin-top: 2vw;
        height: 200px;
    }

    .journy-2 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/* activities we offer */
.section-5 {
    height: auto;
    margin-top: 50px;
}

.photo-event-2 {
    height: 80%;
    border-radius: 0px;
}

.photo-event-2:hover {
    height: 80%;
}

.head-event {
    font-size: 15px;
    margin-top: 3vh;
}

.event-box-2 {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.section-6 {
    height: auto;
    width: 100%;
}

.section-6 p {
    text-align: center;
}

.traveller-review {
    font-size: 26px;
    padding-bottom: 5px;
}

.underline {
    height: 2px;
    background: rgb(213, 87, 3);
    width: 100px;
    margin: auto;
}

.traveller-review-discription {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}

.trip-advisor {
    padding-top: 20px;
}

.circle-img a {
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.review-box {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.review-box-inside {
    width: 350px;
    height: 100%;
    border: solid 1px rgb(212, 212, 212);
    padding: 5px;
    padding-bottom: 50px;
}

.upper-review {
    display: flex;
    align-items: center;
}

.review-box-inside img {
    border-radius: 25px;
    margin: 13px;

}

.review-box-inside h3 {
    text-indent: 15px;
    font-weight: 500;
}

.discription-p {
    text-align: start !important;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    line-height: 25px;
}

@media only screen and (max-width:580px) {
    .review-box {
        display: grid;
        grid-template-columns: auto;
    }
}

.trip-advisor-1,
.trip-advisor-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.trip-advisor-2 {
    padding-right: 65px;
}

.trip-advisor-2 a {
    color: red;
}

.button-review {
    display: flex;
    justify-content: center;
}

.read-all-review,
.find-out-button {
    padding: 5px;
    width: 230px;
    height: 50px;
    text-transform: uppercase;
    font-size: larger;
    background: blue;
    color: white;
    border: none;
}

.read-all-review:hover,
.find-out-button:hover {
    cursor: pointer;
    color: black;
    background: white;
    border: solid 1px;
    transition: 0.5s;
}

.section-8 {
    background: #1c1c1c;
    height: auto;
    color: white;
    padding-bottom: 4rem;
}

.head-trek {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 28px;
}

.underl {
    background: rgb(255, 0, 0);
    height: 3px;
}

.beauty {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.treking-regions {
    height: 350px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    white-space: nowrap;
    width: 90%;
    overflow-x: auto;
    padding: 1rem;
    margin: 2rem auto;
}

.region-4 {
    height: 300px;
    width: 300px;
    flex-shrink: 0;
    /* // prvent Card to have it's height width */
    position: relative;
    overflow: hidden;
}

.region-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.region-4 img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.text-region {
    position: absolute;
    top: 70%;
}

.text-region button {
    padding: 5px 10px;
    color: white;
    font-size: larger;
    background: blue;
    margin-left: 100px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.everest-p {
    text-shadow: 3px 1px 6px black;
    margin-left: 80px;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding-top: 5px;
}

.section-9 {
    background: white;
    color: black;
    height: auto;
    position: relative;
}

.treking-regions-2 {
    overflow: hidden;
    height: auto;
}

.flow {
    height: 70%;
    overflow: hidden;
}

.region-4-2 {
    border-radius: 10px;
    border: solid red;
    height: 400px;
    width: 350px;
    border: solid 1px rgb(216, 216, 216);
    cursor: pointer;
}

.region-4-2 img {
    height: 100%;
}

.region-last {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 400px;
    cursor: pointer;
}

.region-last img {
    height: 100%;
}

.region-last h3,
.region-4-2 h3 {
    padding: 5px 5px;
    font-weight: 500;
}

.region-last a,
.region-4-2 a {
    color: rgb(255, 33, 8);
    padding: 10px 5px;
    text-decoration: underline;
}

.fa-arrow-right {

    color: rgb(255, 255, 255);
    position: absolute;
    top: 300px;
    right: 50px;
    background: rgb(0, 0, 0);
    padding: 20px 21px;
    border-radius: 50%;
    border: solid rgb(177, 177, 177) 1px;
    cursor: pointer;

}

.fa-arrow-left {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 300px;
    left: 50px;
    background: rgb(0, 0, 0);
    padding: 20px 21px;
    border-radius: 50%;
    border: 1px transparent;
}

.fa-arrow-right:hover,
.fa-arrow-left:hover {
    transition: 0.5s;
    animation-name: button;
    animation-duration: 1s;
}

@keyframes button {
    50% {
        background: white;
        border: black 1px solid;
        color: black;
    }

    100% {
        color: white;
        background: black;
    }

}

@media only screen and (max-width:830px) {
    .fa-arrow-right {
        right: 0px;
        padding: 10px 11px;
    }

    .fa-arrow-left {
        left: 0px;
        padding: 10px 11px;
    }
}

@media only screen and (max-width:580px) {
    .arrow {
        display: none;
    }
}